<!-- aboutus.html -->
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" media="screen" href="css/aboutus.css" title="no title" type="text/css" charset="utf-8" />
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <script src="js/app.js"></script>
</head>
<body ng-controller="myCtrl">
<!-- Start Nav -->
<!-- ================================= -->
<nav>
    <div id="logo">
        <img src="img/Mercedes-Benz_Logo_2010.png" alt="Mercedes-Benz">
    </div>
    <ul id="mainmenu">
     <li><a href="index.html">HOME</a></li>
     <li><a href="store.html">STORE</a></li>
     <li><a href="hotdeals.html">HOT DEALS</a></li>
     <li class="active"><a href="aboutus.html">ABOUT US</a></li>
     <li id="profil" ng-click="toggleProfileBox()">
      <button id="profile-button">
          <i class="fas fa-user"></i>
          <span id="username-placeholder">{{username}}</span>
      </button>
      <div id="profile-box" ng-show="showProfileBox">
          <span id="username">{{username}}</span>
          <button ng-click="loginOrLogout()" ng-show="!isLoggedIn">
              <i class="fas fa-sign-in-alt"></i> Log In
          </button>
          <button ng-click="loginOrLogout()" class="logout">
              <i ng-show="isLoggedIn" class="fas fa-sign-out-alt"></i> Log Out
          </button>
      </div>
    </li>
 </ul>
 </nav>
 <!-- End Nav -->
 
    <div class="container">
        <div class="card" ng-repeat="member in members">
            <div class="card-image">
                <img ng-src="{{member.image}}" alt="{{member.name}}">
            </div>
            <div class="card-content">
                <h2>{{member.name}}</h2>
                <p>{{member.description}}</p>
            </div>
            <div class="card-footer">
                <button ng-click="toggleMoreInfo(member)">View {{member.isOpen ? 'Less' : 'More'}}</button>
                <div class="more" ng-show="member.isOpen">
                    <p>{{member.moreInfo}}</p>
                    <p>{{member.moreInfo2}}</p>
                    <p>{{member.moreInfo3}}</p>
                </div>            
            </div>
        </div>
    </div>

    <div class="footer">
        <ul class="fst-one">
          <li><h1>VEHICLES</h1></li>
          <li><a href="#">Passenger Cars</a></li>
          <li><a href="#">Commercial Vehicles</a></li>
          <li><a href="#">Compare Mercedes Cars</a></li>
          <li><a href="#">Gold Standard Used Cars</a></li>
          <li><a href="#">Book a Test Drive</a></li>
        </ul>
        <ul class="second-group">
          <li><h1>OFFERS & FINANCE</h1></li>
          <li><a href="#">New Cars Offers</a></li>
          <li><a href="#">Servicing Offers</a></li>
          <li><a href="#">Finance Explaining</a></li>
          <li><a href="#">Go To Calculator</a></li>
        </ul>
        <ul class="third-group">
          <li><h1>MERCEDES OWNERS</h1></li>
          <li><a href="#">Mercedes-Connect</a></li>
          <li><a href="#">Mercedes Merchandise</a></li>
          <li><a href="#">On-line Booking</a></li>
          <li><a href="#">Warranty Explained</a></li>
          <li><a href="#">Roadside Assistant</a></li>
          <li><a href="#">Servicing</a></li>
        </ul>
        <ul class="fourth-group">
            <li><h1>CONTACT US</h1></li>
          <li><a href="#">Find a Dealer</a></li>
          <li><a href="#">Request Brochure</a></li>
          <li><a href="#">NCT pre-test</a></li>
          <li><a href="#">Book a Test Drive</a></li>
          <li><a href="#">Mercedes Indonesia</a></li>
        </ul>
      </div>
</body>
</html>